body {
    background-image: url("../img/bg.png");
    background-size: cover;
    z-index: 1;
}

.header {
    position: relative;


}
.logo {
    position: absolute;
    margin-left: 25px;
    margin-top: 8px;
}

.logo_ex {
    width: 210px;
    height: 40px;
}
.time {
    position: absolute;
    right: 25px;
    top: 18px;
}
.time_ex {
    color: white;
    font-size: 20px;
    text-align: center;

}
.line {
    position: absolute;
    left: 25px;
    right: 25px;
    top: 0;
}
.line_ex {
    height: 300px;
    background: url("../img/header-line.png") center top;
}
.title {
    position: absolute;
    margin: 0 auto;
}
.title_ex {
    color: white;
    font-size: 35px;
}